.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
  }


  @media screen and (min-width: 375px) and (max-width:800px) {
    .card-list {
      width: 85vw;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
    }
  }

  @media only screen and (max-width: 375px) {
    .card-list {
      width: 85vw;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 50px;
    }
  }